.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.App h1{
  text-align: center ;
}
.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form input[type="text"]{
  padding: 10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 30px;
}
.form input[type="text"]:focus,
.form button[type="submit"]:focus{
  outline: none;
}
.form button[type="submit"]{
    background-color: #c2cbfb;
    border-radius: 100px;
    box-shadow: rgba(44, 63, 187, 0.2) 0 -25px 18px -14px inset,rgba(61, 44, 187, 0.15) 0 1px 2px,rgba(53, 44, 187, 0.15) 0 2px 4px,rgba(53, 44, 187, 0.15) 0 4px 8px,rgba(44, 56, 187, 0.15) 0 8px 16px,rgba(65, 44, 187, 0.15) 0 16px 32px;
    color: rgb(0, 0, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .form button[type="submit"]:hover {
    box-shadow: rgba(44, 63, 187, 0.2) 0 -25px 18px -14px inset,rgba(61, 44, 187, 0.15) 0 1px 2px,rgba(53, 44, 187, 0.15) 0 2px 4px,rgba(53, 44, 187, 0.15) 0 4px 8px,rgba(44, 56, 187, 0.15) 0 8px 16px,rgba(65, 44, 187, 0.15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
.todo-listItems{
 width: 100%;
 display: flex;
 flex-direction: column;
}
.todo-item{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}
.item-content{
  width: 60%;
}
.todo-item button:focus{
  outline: none;
}
.update-item{
  background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.update-item:hover{
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.delete-item{
  background-color: #fbc2c2;
    border-radius: 100px;
    box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.15) 0 1px 2px,rgba(187, 44, 44, 0.15) 0 2px 4px,rgba(187, 44, 44, 0.15) 0 4px 8px,rgba(187, 44, 44, 0.15) 0 8px 16px,rgba(187, 44, 44, 0.15) 0 16px 32px;
    color: rgb(128, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.delete-item:hover{
  box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.25) 0 1px 2px,rgba(187, 44, 44, 0.25) 0 2px 4px,rgba(187, 44, 44, 0.25) 0 4px 8px,rgba(187, 44, 44, 0.25) 0 8px 16px,rgba(187, 44, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}